.bitfield__container{
    /* background: #111C44; */
    /* border-radius: 10px; */
    /* border: 1px grey solid; */
    /* width: 100%; */
    /* height: auto; */
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    margin: 1px auto;
}
.jj{
    width: 10px;
    height: 10px;
}