.swap__container_first {
  width: 97%;
  height: 50vh;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  overflow: scroll;
  /* background-color: #111c44; */
  /* color: #e4e4e4; */
  font-weight: 300;
  font-size: 23px;
  line-height: 120%;
}
.swap__container_first::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.swap__container_first::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.swap__container_first::-webkit-scrollbar-thumb {
  background: #6e7292; 
  border-radius: 10px;
}

/* Handle on hover */
/* .swap__container_first::-webkit-scrollbar-thumb:hover {
  background: #6e7292; 
} */
.tableitem__h_line {
  width: 98%;
  margin: 10px auto;
  background-color: #313135;
  opacity: 0.2;
  height: 1px;
}

.swap__container_widget {
  margin: 0px auto;
  width: 97%;
  /* height: 380px; */
}
/* width */

/* .swap__container ::-webkit-scrollbar {
    width: 10px;
  } */

/* Track */
/* .swap__container ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } */

/* Handle */
/* .swap__container ::-webkit-scrollbar-thumb {
    background: #888; 
  } */

/* Handle on hover */
/* .swap__container ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */
