html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* height: auto; */
  min-height: 100%;
  /* overflow-y: scroll; */
}
/* #__next {
  height: 100% !important;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* .jj{
  background-color: #0B1437;
  color: white
} */
/* .dd{
  overflow-y: scroll
} */
*::-webkit-scrollbar {
  width: 10px;
  /* background-color: grey; */
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #6e7292;
  border-radius: 10px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.collapsible-item-content {
  max-height: 0;
  transition: all 0.35s;
}

input:checked + .collapsible-item-label {
  padding-bottom: 1.5rem;
  /* img {
      transform: rotate(180deg); */
}
input:checked + .collapsible-item-label svg {
  transform: rotate(180deg);
}
input:checked ~ .collapsible-item-content {
  max-height: 100vh;
  padding: 0 17px 33px 21px;
}
.toggle {
  --handleoffset: 3.4rem;
}
.switch {
  /* // direction: rtl !important; */
}

.slider {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input + .slider {
  background-color: #d1d3d9;
}
input:checked + .slider {
  background-color: #4318ff;
}
input:checked + .slider:before {
  background-color: #fff !important;
  left: 2.5px;
}
input + .slider:before {
  right: 2.5px;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 38.57px;
}
/* .l{
  min-height: 300px;
} */

p {
  word-break: break-all;
}

